* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display: inline-block;
}

.satu {
    width: 200px;
    height: 200px;
    background-color: greenyellow;
    margin: 40px;
}

.dua {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 50px;
}

.tiga {
    width: 50px;
    height: 50px;
    background-color: #cb3737;
    margin: 50px;
}